body{
    font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

.projectList {
display: flex;
list-style-type: none;
flex-wrap: wrap;
justify-content: center;
align-content: center;
gap:50px;

}

.listElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width:500px;
  height:300px;
  border: 5px solid navy;
  border-radius: 70%;
  font-size:80px;
  background-image: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
  text-align: center;
}

.listElement:hover {
  animation : productAnimations 5s linear 1s infinite alternate; 
}

.fixed-home {
    position: fixed;
    bottom: 45px;
    right: 80px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px 12px;
    z-index: 99;
    /* animation : homeChatLink 20s linear 1s alternate;  */
  }

  .home {
    color:orange
  }

  .home:hover {
    animation : homeChatLink 5s linear 1s infinite alternate; 
}

  @keyframes homeChatLink {
    0%{
      color:orange
    }
    20% {
      color:red
    }
    40% {
      color:yellowgreen
    }
    60% {
      color:red
    }
    80% {
      color:yellowgreen
    }
    95% {
      color:red
    }
  }

  @keyframes productAnimations {
    0% {
      background-image: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
    }
    20% {
      background-image: linear-gradient(to right, #f7797d, #c6ffdd,#fbd786 );

    }
    40% {
      background-image: linear-gradient(to right, #fbd786, #f7797d,#c6ffdd );

    }
    60% {
      background-image: linear-gradient(to right, #fbd786,  #c6ffdd, #f7797d);

    }
    80% {
      background-image: linear-gradient(to right, #c6ffdd, #f7797d, #fbd786);

    }
    100% {
      background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

    }

  }
